* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


form {
    max-width: 360px;
    margin: 42px auto;
}

input[type="text"] {
    font-size: 16px;
    outline: none;
    padding: 4px 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    border: none;
    transition: .2s;
    border-radius: 4px;
    overflow: hidden;
}

input.invalid {
    box-shadow: 0 0 4px rgba(255, 0, 0, .9);
}

input.valid {
    box-shadow: 0 0 4px rgba(0, 255, 0, .9);
}

.errors {
    overflow: hidden;
    padding: 8px 4px;
}

.errors p {
    font-size: 14px;
    line-height: 1;
    animation: show .15s linear;
}

@keyframes show {
    0% {
        transform: translateY(-32px);
        opacity: 0;
        font-size: 0;
    }

    100% {
        opacity: 1;
    }
}